<div>
  
  <p>
    <b>Provider:</b>
    <%= @offer.provider_id %>
  </p>
  
  <p>
    <b>Name:</b>
    <%= @offer.name %>
  </p>
  
  <p>
    <b>Description:</b>
    <%= @offer.description %>
  </p>
  
  <p>
    <b>Count:</b>
    <%= @offer.count %>
  </p>
  
  <p>
    <b>Price:</b>
    <%= @offer.price %>
  </p>
  <p>
  <%= form_tag(offer_path(@offer)+"/buy", :method => "post") do %>
  
  
  <input type="hidden" name="id" value="<%=@offer.id%>"/>
  <b>Quantity</b>
    <input id="buy_quantity" class="input-mini" name="buy_quantity" type="number" min="1" max="<%= @offer.count %>" value="1">
  </p>
  <p>
  <button class="btn btn-success" type="submit">
    <i class="icon-ok icon-white"></i> 
    Checkout
  </button>
    <a class="btn btn-danger" href="<%=url_for(:back)%>">
      <i class="icon-remove icon-white"></i> 
      Cancel
    </a>
  <% end %>
  
  </p>
</div>
