<div>
  <p>Buy me, my id is:  <%= @id%>.</p>
  
  <p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @offer.provider_id %>
</p>

<p>
  <b>Name:</b>
  <%= @offer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Count:</b>
  <%= @offer.count %>
</p>

<p>
  <b>Price:</b>
  <%= @offer.price %>
</p>



</div>