<h2>Your purchases</h2>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Offer</th>
    <th>Date</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><% offer = Offer.find_by_id(purchase.offer_id) %><%= offer.name %></td>
    <td><%= purchase.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= purchase.quantity %></td>
    <td>€<%= purchase.quantity * offer.price %></td>
    <td><a class="btn btn-info btn-mini" href="<%= url_for purchase %>">Details</a></td>
  </tr>
<% end %>
</table>
