<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Offer</th>
    <th>Date</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= Offer.find_by_id(purchase.offer_id).name %></td>
    <td><%= purchase.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= purchase.quantity %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Destroy', purchase, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
