
<% @offers.each do |offer| %>
   <div class="dealdata">
    <h3><%= offer.name %></h3>
    
<p class="description"><%= offer.description%></p>    
<ul class="unstyled">
   <li><p>Oksjon l천ppeb:<span class="bold"> <%= offer.end_date %> </span></p> </li>
   <li><p>J채rele j채채nud:<span class="bold"><%= offer.count%></span></p></li>
   <li><a class="btn btn-success" href="offers/<%=  offer.id %>/buy" ><i class="icon-shopping-cart icon-white"></i> Buy</a></li>
</ul>
</div>
<% end %>
