<% @offers.each do |offer| %>
<div class="dealdata">
	<div class="corner"><span>-50%</span></div>
	<h3 title="<%= offer.name%>"><%= offer.name %></h3>
	<p>
		<span>Hind: <strong class="price">€<%= offer.price%></strong></span>
	</p>
	<ul class="unstyled">
		<li>
			<span class="availability">Aega jäänud: <strong class="end-date" data-end-date="<%= offer.end_date %>"> </strong></span>
		</li>
		<li>
			<p class="availability"><span>Pakkumisi alles: <strong><%= offer.count%></strong></span></p>
		</li>
		<li>
			<a class="btn btn-success" href="offers/<%= offer.id %>/buy" ><i class="icon-shopping-cart icon-white"></i> Buy</a>
			<a class="btn btn-info" href="offers/<%= offer.id %>"><i class="icon-info-sign icon-white"></i> More info</a>
		</li>
	</ul>
</div>
<% end %> 