<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<label for="offer_name">Title of your offer</label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <textarea cols="50" id="offer_description" name="offer[description]" rows="10"></textarea>
  </div>
  <div class="field">
    <%= f.label :count %>
    <%= f.number_field :count, :class => "input input-mini" %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <strong>€</strong>
    <input id="offer_price" class="input-mini" name="offer[price]" type="text">
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => "btn btn-info" %>
  </div>
<% end %>
