<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @offer.provider_id %>
</p>

<p>
  <b>Name:</b>
  <%= @offer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Count:</b>
  <%= @offer.count %>
</p>

<p>
  <b>Price:</b>
  <%= @offer.price %>
</p>

<p>
  <b>Start date:</b>
  <%= @offer.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @offer.end_date %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
