<p>
  <b>Provider:</b>
  <%= @offer.provider_id %>
</p>

<p>
  <b>Name:</b>
  <%= @offer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Count:</b>
  <%= @offer.count %>
</p>

<p>
  <b>Price:</b>
  <%= @offer.price %>
</p>

<p>
  <b>Start date:</b>
  <%= @offer.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @offer.end_date %>
</p>
<p>
	<a class="btn btn-success" href="<%=offer_path(@offer) %>/buy"><i class="icon-shopping-cart icon-white"></i> Buy</a>
</p>

<a class="btn btn" href="<%=offers_path %>"><i class="icon-chevron-left "></i> Back to offers</a>
