<!DOCTYPE html>
<html>
<head>
  <title>Vilrol</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">VILROL</a>
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
                                         <li class="dropdown" id ="Menu1">
                                          <a class="dropdown-toggle" data-toggle="dropdown" href ="#Menu1">
                                            All offers
                                            <b class="caret"></b>
                                          </a>
                                          <ul class="dropdown-menu">
                                            <li><a href="#">Ended offers</a></li>
                                            <li><a href="#">Popluar</a></li>
                                          </ul>
                                         </li>
                                        <% if user_signed_in? -%>
                                          <ul class="nav pull-right">
                                            <li class="dropdown" id ="Menu2">
                                              <a class="dropdown-toggle" data-toggle="dropdown" href ="#Menu2">
                                                Account
                                                <b class="caret"></b>
                                              </a>
                                         <% end -%>
                                             <ul class="dropdown-menu">
                                              <li><a href="#">Profile</a></li>
                                              <li><a href="#">Settings</a></li>
                                              <li class="divider"></li>
                                              <li><a href="/signout">Logout</a></li>
                                             </ul>
                                            </li>
                                          <% if user_signed_in? == false %>
                                            <a class="pull-right btn btn-primary btn-medium" href="/signin" >Sigin in</a>
                                          <% end %>
                                         </ul>
				</ul>
			</div>
	  </div>
	</div>
	<div class="main">

		<div class="wrap">
			<div class="content well">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
